@{ var usuario = (Usuario)Model; }


<form action="/auth/registrar" class="col-12" method="post">
    <label>Username</label>
    <div class="form-group" id="user-group">
        <input type="text" class="form-control" placeholder="Nombre de Usuario" name="Username" />
        @Html.ValidationMessage("Username")
    </div>

    <label>Contraseña</label>
    <div class="form-group" id="contrasena-group">
        <input type="password" class="form-control" placeholder="Contraseña" name="Password" />
        @Html.ValidationMessage("password")
    </div>

    <label>Confirmar Contraseña</label>
    <div class="form-group" id="contrasena-group">
        <input type="password" class="form-control" placeholder="Confirmar Contraseña" name="passwordConf" />
        @Html.ValidationMessage("PasswordConf")
    </div>

    <button type="submit" class="btn btn-primary"><i class="fas fa-sign-in-alt"></i>  Registrar </button>
</form>